.chatHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    border-bottom: 3px solid #00191D;
    background-color: #082023;
    padding: 4.5px;
}

.chatHeader__hash{
    color: gray;
    font-size: 30px;
    padding: 10px;

}

.chatHeader__left > h3{
    display: flex;
    align-items: center;
    color: white;
}

.chatHeader__right{
    display: flex;
    align-items: center;
    flex: 0.2;
    justify-content: space-between;
}

.chatHeader__right > .MuiSvgIcon-root{
    padding: 5px;
    cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover{
    color: #fff;
}

.chatHeader__search {
    display: flex;
    align-items: center;
    color: gray;
    border-radius: 3px;
    padding: 3px;
    
    background-color: #072024;
    
    
}

.chatHeader__search  {
    background: transparent;
    outline-width: 0;
    color:gray;
    border: none;
    cursor: pointer;
}
.chatHeader__search:hover{
    color: white;
}

.name{
    margin: 20px;
}