.login{
    display: grid;
    place-items: center;
   
}

.login > button{
    width: 200px;
    background-color: #051D20;
    color: #fff;
    font-weight: 800;
}

.login > button:hover{
    background-color: #062A2E;
    color: beige;
}

.login > div > img{
    object-fit: contain;
    height: 150px;
}
.sign-in-text{
    margin-left: 20px;
}